---
layout: default
permalink: /
title: "Krzysztof Miąsko"
---


<main id="main">
	<section class="landing-page">
		<section class="headings">
			<p>CSS</p>
			<p>HTML</p>
			<p>Design</p>
			<p>Javascript</p>
			<div class="name">
				<h1 class="light">Krzysztof Miąsko</h1>
				<p>Full-stack Developer</p>
			</div>
		</section>
    <div class="next-arrow"><a href="#skills"></a></div>
  </section>
  <section id="skills" class="skills">
    <article class="skills__skill">
      <div class="skills__icon"><span class="icon-mobile"></span></div>
      <h3>Strony WWW</h3>
      <p>Wizytówki firm, strony osobiste, katalogi produktów - przygotowane wedle potrzeb klienta, dostosowane do indywidualnych wymagań i preferencji.</p>
    </article>
    <article class="skills__skill">
      <div class="skills__icon"><span class="icon-browser"></span></div>
      <h3>Single Page Applications</h3>
      <p>"Jednostronicowe" aplikacje internetowe, oparte o RESTful API, mogące wykorzysytwać systemy baz danych.</p>
    </article>
    <article class="skills__skill">
      <div class="skills__icon"><span class="icon-layers"></span></div>
      <h3>Full Stack Applications</h3>
      <p>Wielopłaszczyznowe aplikacje i serwisy internetowe oparte o systemy baz danych, RESTful API, mikro-serwisy</p>
    </article>
    <article class="skills__skill">
      <div class="skills__icon"><span class="icon-picture"></span></div>
      <h3>Profesjonalny design</h3>
      <p><em>Nowoczesny</em>, przejrzysty design stron WWW i aplikacji, dostosowany do przeglądarek jak i urządzeń mobilnych (Mobile-First Responsive Web Design).</p>
    </article>
    <article class="skills__skill">
      <div class="skills__icon"><span class="icon-gears"></span></div>
      <h3>Niezawodność</h3>
      <p>Produkty są przetestowane, przygotowywane zgodnie ze sprawdzonymi metodologiami programowania.</p>
    </article>
    <article class="skills__skill">
      <div class="skills__icon"><span class="icon-genius"></span></div>
      <h3>Dobrej jakości kod</h3>
      <p>
        Czysty, przejrzysty i <em>dobrze udokumentowany</em> kod pozwoli na <strong>bezstresowe wprowadzanie zmian</strong> i rozwój aplikacji.

      </p>
    </article>
  </section>
  <section id="about" class="about">
    <h2>Krzysztof Miąsko</h2>
    <article class="portraiture">
      <figure><img src="img/kmiasko.jpg" alt="Krzysztof Miąsko"></figure>
      <p>
        Jestem pasjonatem wszystkiego co związane z informatyką. Tworzę <strong>nowoczesne</strong> strony WWW oraz bogate, interaktywne aplikacje internetowe z wykorzystaniem takich języków jak HTML5, CSS3, JavaScript, bibliotek jQuery oraz Bootstrap.
        <!-- Potrafię tworzyć aplikacje oparte na <strong>React i Redux</strong>. -->

      </p>
    </article>
    <div>
      {% include icons.html %}
    </div>
  </section>
  <section id="portfolio" class="portfolio">
    <h2>Realizacje</h2>
    {% assign portfolio_items = site.portfolios | sort: 'date' | reverse %}
    {% for portfolio in portfolio_items limit:5 %}
    <div class="portfolio-item">
      <div class="portfolio-img">
        {% if portfolio.image %}
        <figure><img src="{{ portfolio.image }}" alt="old home">
          <div class="p-item-hover"><a href="{{ portfolio.link }}" target="_blank"><i class="fa fa-2x fa-anchor"></i></a></div>
        </figure>
        {% elsif portfolio.video %}
          <video controls poster="{{ portfolio.placeholder }}">
            {% assign url = v | split: '.' %}
              <source src="{{ portfolio.video }}" type={{ url[1] }}></source>
          </video>
        {% endif %}
      </div>
      <div class="portfolio-desc">
        <h3>{{ portfolio.title }}</h3>
        <p>{{ portfolio.description }}</p>
        <p class="meta">
          <span>Narzędzia: {{ portfolio.tools }}</span>
          <div class="portfolio-links">
            {% if portfolio.github %}
              <a href="{{ portfolio.github }}"><i class="fa fa-github"></i></a>
            {% endif %}
            <a href="{{ portfolio.link }}"><i class="fa fa-anchor"></i></a>
          </div>
        </p>
      </div>
    </div>
    {% endfor %}
  </section>
  <section class="call-to-action">
    <h2>Zainteresowany?</h2>
    <p><a href="#contact">Skontaktuj się!</a></p>
  </section>
  <section id="last-blog-posts" class="last-blog-posts">
    <header class="heading">
      <h2>Ostatnie wpisy na blogu</h2>
      <p><a href="/blog">Pokaż wszystkie wpisy</a></p>
    </header>
    {% assign post_items = site.posts | sort: 'date' | reverse %}
    {% for post in post_items limit:3 %}
    <article class="post">
      <header class="post-head">
        <figure><a href="{{ post.url | prepend: site.baseurl }}"><img src="{{ post.image | prepend: site.baseurl }}" alt="Blog Post"></a></figure><a href="{{ post.url | prepend: site.baseurl }}">
          <h3>{{ post.title }}</h3></a><span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
      </header>
      <p class="post-content">{{ post.content | strip_html | truncatewords: 20 }}</p>
    </article>
    {% endfor %}
  </section>
  <section class="last-codepens">
    <header class="codepens-header"><h2>Codepen</h2></header>
  </section>
  <section id="contact" class="contact">
    <h2>Skontaktuj się</h2>
    <form action="//formspree.io/kmiasko@gmail.com" method="POST" autocomplete="off">
        <div>
          <input type="text" name="name" id="name_input" required><label for="name_input">Imię i nazwisko</label><span></span>
        </div>
        <div>
          <input type="email" name="_replyto" id="email_input" required><label for="email_input">E-mail</label><span></span>
        </div>
        <input type="hidden" name="_next" value="//kmiasko.github.io/">
        <input type="hidden" name="_subject" value="Nowa wiadomość ze strony kmiasko.github.io">
        <input type="text" name="_gotcha" style="display:none">
        <div>
          <textarea name="message" id="message_input" rows="1" required></textarea><label for="message_input">Wiadomość</label><span></span>
        </div>
        <input type="submit" value="Wyślij">
    </form>
  </section>
