doctype html
html(class="no-js" lang="pl")
  head
    title Krzysztof Miąsko
    meta(charset="utf-8")
    meta(content="True" name="HandheldFriendly")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel="stylesheet" href="css/font-awesome.min.css")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="css/main.css")

  body
    header#navbar.navbar
      .hamburger
        .pipe1
        .pipe2
        .pipe3
      nav.nav.clearfix
        .nav-brand
          p.brand Krzysztof Miąsko
        ul.nav-links
          a.nav-link(href="#navbar")
            li Home
          a.nav-link(href="#about")
            li O mnie
          a.nav-link(href="#portfolio")
            li Portfolio
          a.nav-link(href="#last-blog-posts")
            li Blog
          a.nav-link(href="#contact")
            li Kontakt

    main#main
      section.landing-page
        section.headings
          figure
            img(src="img/lambda.svg")
          p.main _.join(_.identity(<span>Krzysztof</span>), _.identity(<span>Miąsko</span>))
          p Full Stack Developer
        section.next-arrow
          a(href="#skills")

      section#skills.skills
        article.skills__skill
          div.skills__icon
            span.icon-mobile
          h3 Strony WWW
          p.
            Wizytówki firm, strony osobiste, katalogi produktów - przygotowane wedle potrzeb klienta, dostosowane do indywidualnych wymagań i preferencji.
        article.skills__skill
          div.skills__icon
            span.icon-browser
          h3 Single Page Applications
          p.
            "Jednostronicowe" aplikacje internetowe, oparte o RESTful API, mogące wykorzysytwać systemy baz danych.
        article.skills__skill
          div.skills__icon
            span.icon-layers
          h3 Full Stack Applications
          p.
            Wielopłaszczyznowe aplikacje i serwisy internetowe oparte o systemy baz danych, RESTful API, mikro-serwisy
        article.skills__skill
          div.skills__icon
            span.icon-picture
          h3 Profesjonalny design
          p.
            <em>Nowoczesny</em>, przejrzysty design stron WWW i aplikacji, dostosowany do przeglądarek jak i urządzeń mobilnych (Mobile-First Responsive Web Design).
        article.skills__skill
          div.skills__icon
            span.icon-gears
          h3 Niezawodność
          p.
            Produkty są przetestowane, przygotowywane zgodnie ze sprawdzonymi metodologiami programowania.
        article.skills__skill
          div.skills__icon
            span.icon-genius
          h3 Dobrej jakości kod
          p.
            Czysty, przejrzysty i <em>dobrze udokumentowany</em> kod pozwoli na <strong>bezstresowe wprowadzanie zmian</strong> i rozwój aplikacji.

      section#about.about
        h1 Krzysztof Miąsko
        article.portraiture
          figure
            img(src="img/kmiasko.jpg" alt="Krzysztof Miąsko")
          p.
            Jestem pasjonatem wszystkiego co związane z informatyką. Tworzę <strong>nowoczesne</strong> strony WWW oraz bogate, interaktywne aplikacje internetowe z wykorzystaniem takich języków jak HTML5, CSS3, JavaScript, bibliotek jQuery oraz Bootstrap. Potrafię tworzyć aplikacje oparte na <strong>React i Flux</strong>.

      section#portfolio.portfolio
        h2 Realizacje
        .portfolio-item
          .portfolio-img
            figure
              img(src="http://placehold.it/600x400")
              div.p-item-hover
                a(href="" target="_blank")
                  i.fa.fa-2x.fa-anchor
          .portfolio-desc
            h3 Lorem3
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quisquam illo magnam itaque hic culpa beatae neque dolores architecto dicta repellendus voluptate atque debitis sapiente molestiae cumque omnis, doloribus porro.

        .portfolio-item
          .portfolio-img
            figure
              img(src="http://placehold.it/600x400")
              div.p-item-hover
                a(href="" target="_blank")
                  i.fa.fa-2x.fa-anchor
          .portfolio-desc
            h3 Lorem3
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quisquam illo magnam itaque hic culpa beatae neque dolores architecto dicta repellendus voluptate atque debitis sapiente molestiae cumque omnis, doloribus porro.

      section.call-to-action
        h2 Zainteresowan[ya]?
        p
          a(href="#contact") Napisz do mnie!
      section#last-blog-posts.last-blog-posts
        header.heading
          h2 Ostatnie wpisy na blogu
          p
            a(href="/blog") Pokaż wszystkie wpisy
        article.post
          header.post-head
            figure
              a(href="")
                img(src="http://placehold.it/500x300" alt="Blog Post")
            a(href="")
              h3 Lorem Ipsum.
            span.date 02.01.2016
          p.post-content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quisquam illo magnam itaque hic culpa beatae neque dolores architecto dicta repellendus voluptate atque debitis sapiente molestiae cumque omnis, doloribus porro.
        article.post
          header.post-head
            figure
              a(href="")
                img(src="http://placehold.it/500x300" alt="Blog Post")
            a(href="")
              h3 Lorem Ipsum.
            span.date 02.01.2016
          p.post-content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quisquam illo magnam itaque hic culpa beatae neque dolores architecto dicta repellendus voluptate atque debitis sapiente molestiae cumque omnis, doloribus porro.
        article.post
          header.post-head
            figure
              a(href="")
                img(src="http://placehold.it/500x300" alt="Blog Post")
            a(href="")
              h3 Lorem Ipsum.
            span.date 02.01.2016
          p.post-content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quisquam illo magnam itaque hic culpa beatae neque dolores architecto dicta repellendus voluptate atque debitis sapiente molestiae cumque omnis, doloribus porro.

      section.last-codepens
        header.codepens-header
          h2 Ostatnie peny

        article.pen
          figure.pen-image
            a(href="" target="_blank")
              img(src="http://placehold.it/300x150" alt="Pen")
          h3
            a(href="" target="_blank") Lorem ipsum.
          span.pen-date 01.02.2016
        article.pen
          figure.pen-image
            a(href="" target="_blank")
              img(src="http://placehold.it/300x150" alt="Pen")
          h3
            a(href="" target="_blank") Lorem ipsum.
          span.pen-date 01.02.2016
        article.pen
          figure.pen-image
            a(href="" target="_blank")
              img(src="http://placehold.it/300x150" alt="Pen")
          h3
            a(href="" target="_blank") Lorem ipsum.
          span.pen-date 01.02.2016
        article.pen
          figure.pen-image
            a(href="" target="_blank")
              img(src="http://placehold.it/300x150" alt="Pen")
          h3
            a(href="" target="_blank") Lorem ipsum.
          span.pen-date 01.02.2016
        article.pen
          figure.pen-image
            a(href="" target="_blank")
              img(src="http://placehold.it/300x150" alt="Pen")
          h3
            a(href="" target="_blank") Lorem ipsum.
          span.pen-date 01.02.2016
        article.pen
          figure.pen-image
            a(href="" target="_blank")
              img(src="http://placehold.it/300x150" alt="Pen")
          h3
            a(href="" target="_blank") Lorem ipsum..
          span.pen-date 01.02.2016

      section#contact.contact
        h2 Skontaktuj się
        form(action="//formspree.io/kmiasko@gmail.com" method="POST")
          .wrapper
              figcaption
            .inputs
              input(type="text" name="name" placeholder="Imię i nazwisko" required)
              input(type="email" name="_replyto" placeholder="Email" required)
              input(type="hidden" name="_next" value="//kmiasko.github.io/thanks/")
              input(type="hidden" name="_subject" value="Nowa wiadomość ze strony kmiasko.github.io")
              input(type="text" name="_gotcha" style="display:none")
            .textarea
              textarea(name="message" cols="30" rows="4" placeholder="Wiadomość" required)
              input(type="submit" value="Wyślij wiadomość")

      footer.footer-main
        .triangle-up
        section.social-buttons
          a(class="social-button" target="_blank" href="https://www.facebook.com/KrzysztofMiasko")
            i(class="fa fa-facebook-f fa-fw fa-2x")
          a(class="social-button" target="_blank" href="http://twitter.com/kmiasko")
            i(class="fa fa-twitter fa-fw fa-2x")
          a(class="social-button" target="_blank" href="http://codepen.io/kmiasko")
            i(class="fa fa-codepen fa-fw fa-2x")
          a(class="social-button" target="_blank" href="http://github.com/kmiasko")
            i(class="fa fa-github fa-fw fa-2x")
        p.copy
          a(href="/#navbar") &copy; Krzysztof Miąsko 2016

      script(src="js/TweenLite.min.js")
      script(src="js/ScrollToPlugin.min.js")
      script(src="js/ScrollMagic.min.js")
      script(src="https://code.jquery.com/jquery-2.2.0.min.js")
      script(src="js/main.js")
