<footer class="footer-main">
  <div class="triangle-up"></div>
  <section class="social-buttons"><a target="_blank" href="https://www.facebook.com/KrzysztofMiasko" class="social-button"><i class="fa fa-facebook-f fa-fw fa-2x"></i></a><a target="_blank" href="http://twitter.com/kmiasko" class="social-button"><i class="fa fa-twitter fa-fw fa-2x"></i></a><a target="_blank" href="http://codepen.io/kmiasko" class="social-button"><i class="fa fa-codepen fa-fw fa-2x"></i></a><a target="_blank" href="http://github.com/kmiasko" class="social-button"><i class="fa fa-github fa-fw fa-2x"></i></a></section>
  <p class="copy"><a href="/#navbar">&copy; Krzysztof Miąsko 2016</a></p>
</footer>

