<header id="navbar" class="navbar">
  <div class="hamburger">
    <div class="pipe1"></div>
    <div class="pipe2"></div>
    <div class="pipe3"></div>
  </div>
  <nav class="nav clearfix">
    <div class="nav-brand">
      <p class="brand">Krzysztof Miąsko</p>
    </div>
    <ul class="nav-links"><a href="#navbar" class="nav-link">
        <li>Home</li></a><a href="#about" class="nav-link">
        <li>O mnie</li></a><a href="#portfolio" class="nav-link">
        <li>Portfolio</li></a><a href="#last-blog-posts" class="nav-link">
        <li>Blog</li></a><a href="#contact" class="nav-link">
        <li>Kontakt</li></a></ul>
  </nav>
</header>
