html
  +size(100% 100%)

body
  +size(100% 100%)
  max-width: 100%
  margin: 0
  padding: 0

#skills:before,
#portfolio:before,
#last-blog-posts:before,
  display: block
  content: " "
  margin-top: -75px
  height: 75px
  visibility: hidden

main
  +size(100% 100%)

.skills,
.last-blog-posts,
.last-codepens,
.portfolio
  +outer-container

.navbar
  +size(100% modular-scale(5))
  +position(fixed, 0 null null 0)
  z-index: 100

.hamburger
  z-index: 150

.nav-links
  +size(100%)

  .nav-link
    +size(100% modular-scale(3))
    display: block

.nav
  +size(0 0)
  +hide-text
  +clearfix
  +position(relative, 0 0 null null)
  +padding(modular-scale(4) 0 0)

.nav-brand
  display: none

.landing-page
  +position(relative)
  +size(100% 100%)

  &::after
    content: ""
    +position(absolute, 0 0 0 0)
    background: rgba($bostonBlue, 0.8)
    z-index: 5

.headings
  @include clearfix
  position: absolute
  top: 45%
  left: 50%
  transform: translate(-50%, -50%)
  text-shadow: rgba(0,0,0,.01) 0 0 1px
  -webkit-font-smoothing: antialiased
  color: #fff

  & > p
    font-size: modular-scale(4)
    font-weight: 100
    margin: 0
    text-transform: uppercase

  p
    margin: 0

  .name
    text-align: center
    margin: modular-scale(1) 0
    text-shadow: 0 0 1px rgba(0,0,0,0.6)

    p
      margin: 0
      font-weight: 300
      font-size: modular-scale(1)
      opacity: 0.9

    h1
      font-size: modular-scale(4)
      margin: 0
      text-transform: none
      font-weight: 300

$opacity: 0.1
@for $i from 1 through 4
  .headings > p:nth-child(n+#{$i})
    opacity: $opacity
  $opacity: $opacity + 0.1


.skills
  padding: 6em 0 0

  .skills__icon,
  h3
    color: $bostonBlue
    font-weight: 300


.call-to-action
  padding: modular-scale(6) 0
  margin: modular-scale(7) auto
  background: url('/img/phone_min.jpg') center center
  background-size: cover
  color: #fff
  text-shadow: 0 0 1px rgba(0,0,0,0.4)

  a
    display: inline-block
    text-align: center
    padding: 1em 3em
    margin: 2em auto
    text-transform: uppercase

.contact
  +size(100% auto)
  margin: 6em 0
  padding-bottom: 2em
  text-align: center


  form
    width: 70%
    margin: 0 auto

    > div
      position: relative


  input,
  textarea
    display: block
    width: 100%
    box-shadow: 0 1px 1px -1px rgba(255,255,255,0.3)
    padding-bottom: modular-scale(-2)

  input ~ span::after,
  textarea ~ span::after
    content: ""
    display: block
    position: absolute
    bottom: -2px
    left: 50%
    width: 0px
    height: 3px
    background: $porcelain
    transform: translateX(-50%)
    transition: width 0.3s ease-out

  input:focus ~ span::after,
  textarea:focus ~ span::after
    width: 95%
    transition: width 0.3s ease-out

  input[type="submit"]
    border-radius: .5em
    display: inline-block
    text-align: center
    padding: 1em 3em
    margin: 2em auto
    text-transform: uppercase
    color: $porcelain
    border: 1px solid $porcelain
    width: auto

  input ~ label,
  textarea ~ label
    position: absolute
    top: modular-scale(0)
    left: modular-scale(0)
    color: $porcelain
    font-size: modular-scale(1)
    transition: font-size 0.3s ease-in-out, translate 0.2s ease-in-out

  input:focus ~ label,
  textarea:focus ~ label
    font-size: modular-scale(-2)
    transform: translate(modular-scale(0), - modular-scale(-1))
    transition: font-size 0.3s ease-in-out, translate 0.2s ease-in-out

  input:valid ~ label,
  textarea:valid ~ label
    font-size: modular-scale(-2)
    transform: translate(modular-scale(0), - modular-scale(-1))
    color: $pastelGreen

.photos
  background: $black-large-opacity


.about
  padding-bottom: modular-scale(4)
  margin-bottom: modular-scale(5)
  margin-top: modular-scale(6)

.portfolio
  h2
    margin: modular-scale(2) auto modular-scale(4)
    text-align: center

  .portfolio-img
    position: relative
    max-width: 600px
    margin: 0 auto


    .p-item-hover
      transition: .3s opacity ease-in-out
      opacity: 0
      a
        position: absolute
        display: block
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba($blueDeFrance, 0.8)

        i
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)

      &:hover
        opacity: 1
        transition: .3s opacity ease-in-out


  figure
    text-align: center

  .portfolio-desc
    text-align: center
    max-width: 35em
    margin: modular-scale(4) auto
    padding: 0 modular-scale(2)

    h3
      margin: modular-scale(1) 0
      color: $bostonBlue
      font-weight: 300

    .meta
      font-size: modular-scale(0)
      color: #666

      a
        display: block
        color: $bostonBlue
        text-decoration: underline
        margin: modular-scale(1) 0

.last-codepens

  .codepens-header
    margin: modular-scale(6) 0 modular-scale(5)

  .pen
    position: relative
    overflow: hidden
    margin: modular-scale(1) auto
    max-width: 384px

    img
      display: block

    .pen__more
      position: absolute
      right: modular-scale(-2)
      top: modular-scale(-2)
      color: #EDF4F5
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.8)
      font-size: modular-scale(1)
      cursor: pointer
      padding: 0 0.3em
      z-index: 5

    .pen__content
      width: 0
      transition: width 0.3s cubic-bezier(0.82, -0.39, 0.33, 1.26) 0.1s
      height: 100%
      background: rgba(0, 0, 0, 0.5)
      position: absolute
      top: 0
      right: 0
      z-index: 0
      text-align: center
      font-weight: 300
      color: #e2e2e2

    .pen__title
      margin-top: modular-scale(2)

    .pen__icons
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.6)
      font-size: 1.414em
      cursor: pointer
      p
        margin: 0.354em
        text-transform: uppercase
        font-size: 0.5em
      i
        display: inline-block
        margin: 0.354em

    .pen__title,
    .pen__icons
      transform: translate(300px, 0)
      transition: transform 0.3s cubic-bezier(0.82, -0.39, 0.33, 1.26)

    .pen__details
      &.pen__details--open
        .pen__content
          width: 50%
          transition: width 0.3s cubic-bezier(0.65, -0.3, 0.21, 1.65)
        .pen__title,
        .pen__icons
          transform: translate(0, 0)
          transition: transform 0.3s cubic-bezier(0.65, -0.3, 0.21, 1.65) 0.1s

.blog

  header
    width: 100%
    background: url('/img/blog-min.jpg') center center
    background-size: cover
    display: table
    padding: modular-scale(8) 0

    h1
      display: table-cell
      vertical-align: middle
      text-align: center
      color: $porcelain
      text-shadow: 0 0 1px rgba(0,0,0,0.5)
      font-size: modular-scale(2)
      max-width: 90%
      margin: 0 auto

  ul
    list-style: none

  h2
    font-size: modular-scale(2)
    a
      color: $pickledBluewood

  .posts
    +outer-container(em(800))
    margin-top: modular-scale(6)
    padding: 0 modular-scale(1)


  .post-meta
    font-size: modular-scale(0)


.blog-post

  .post-header
    width: 100%
    padding: modular-scale(8) 0
    display: table
    background: url('/img/code-min.jpg') center center
    background-size: cover
    color: $porcelain

  .header-content
    display: table-cell
    vertical-align: middle
    text-shadow: 0 0 1px rgba(0,0,0,0.5)

    .post-title
      text-align: center
      font-size: modular-scale(3)
      max-width: 90%
      margin: 0 auto

    .post-meta
      text-align: center
      font-size: modular-scale(0)

  .post-main
    margin-top: modular-scale(6)
    +outer-container(em(800))
    padding: 0 modular-scale(1)

    .post-content > p
      font-size: modular-scale(1)

figure.highlight
  font-size: modular-scale(0)
  margin: modular-scale(3) 0
  padding: 0 modular-scale(-2)

#disqus_thread
  +margin(modular-scale(3) modular-scale(-2))
